.link {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--cinza-muito-claro);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--branco);
}

.linkDestacado {
  color: var(--branco);
  position: relative;
}

.linkDestacado::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--destaque);
  transition: all 0.3s ease;
}