* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --preto: #121212;
  --cinza-escuro: #212121;
  --cinza-medio: #484848;
  --cinza-claro: #757575;
  --cinza-muito-claro: #e0e0e0;
  --destaque: #009688; /* Tom esverdeado para destaque */
  --destaque-hover: #00796b;
  --destaque-secundario: #b2dfdb; /* Versão mais clara do destaque para elementos secundários */
  --branco: #fff;
  --erro: #ff5252;
  --sucesso: #4caf50;
  --alerta: #ffab40;
  --fonte-principal: "Raleway", sans-serif;
  --fonte-secundaria: "Playfair Display", sans-serif;
  font-family: var(--fonte-principal);
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}
a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}
button {
  background-color: transparent;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: 700;
}